#dogs{
  text-align: center;
  font-size: larger;
}

h2, h3, h4, span {
    text-align: center;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
#description{
    margin: auto;
    text-align: justify;
    width: 1400px;
}
.main {
    
    margin: auto;
    width: 1400px;
  }

  .rectDead{
    fill: rgb(240, 188, 197);
    opacity: 0.5;
    stroke-width: 1;
    stroke: black;
  }

.rectAlive{
    opacity: 0.5;
    stroke-width: 1;
    stroke: black;
    fill: rgb(155, 186, 245);
}

.rectFate{
    
    opacity: 0.5;
    stroke-width: 3;
    stroke: black;
    fill: rgb(193, 206, 172);
  }

.rocket{
    opacity: 0.5;
    stroke-width: 1;
    stroke: black;
    fill: transparent;
  }

div.tooltip-map {
    text-align: center;
    padding: .2rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 0.7rem;
    position: absolute;
  }