.container {
    max-width: 970px;
}
h2, h3, h4, span {
    text-align: center;
}
img {
    width:100%;
    border: 1px solid gray;
}
p {
    text-align: justify;
    text-justify: inter-word;
}

.main {
    position: absolute;
    left: 25%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .face {
    position: absolute;
    left: 75%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .rectDead{
    fill: pink;
    opacity: 0.5;
    stroke-width: 1;
    stroke: black;
  }

.rectAlive{
    opacity: 0.5;
    stroke-width: 1;
    stroke: black;
    fill: cornflowerblue;
}

.rocket{
    opacity: 0.1;
    stroke-width: 2;
    stroke: black;
}